/*@font-face {*/
/*  font-family: 'Source Sans Pro';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url("SourceSansPro-Regular.ttf") format("ttf");*/
/*}*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/sourcesanspro.woff") format("woff2"),
  url("../vendor/fonts/sourcesanspro.woff2") format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../vendor/fonts/sourcesansprolight.woff2") format("woff2"),
  url("../vendor/fonts/sourcesansprolight.woff") format("woff");
}
