.gallery {
  padding: 20px;
  @include bottomLine();
  grid-area: gal;

  @media screen and (min-width: $maxMob) {
    padding: 34px 34px 50px;
  }

  @media screen and (min-width: $maxTablet) {
    padding: 0 0 50px;
    @include rightLine();
  }

}
