.footer {
  grid-area: ftr;
  padding: 20px;
  //min-height: 317px;
  min-height: 429px;
  display: grid;
  //@media
  //padding: 50px;
  //grid-template-rows: min-content min-content auto;
  //min-height: 317px;
}
