.footer__subheading {
  grid-area: subh;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 60px;

  @media screen and (min-width: $maxMob) {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: $maxTablet) {
    //@include rightLine();
  }
}
