.subscr-form__input {
  box-sizing: border-box;
  border: none;
  background-color: $bgcolor;
  color: $maincolor;
  border-left: solid 1px $maincolor;
  border-top: solid 1px $maincolor;
  height: 32px;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 18px;
  /* identical to box height, or 200% */
  letter-spacing: 1px;
  padding: 0 11px;

  &::placeholder {
    opacity: 1;
  }

  //&:active {
  //  border-left: solid 1px;
  //  border-top: solid 1px;
  //  border-right: solid 1px;
  //  border-bottom: solid 1px;
  //}
}
