.plus-minus__heading {
  font-size: 22px;
  line-height: 22px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  padding-bottom: 40px; // -6?
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  @media screen and (min-width: $maxMob) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 50px;
  }
}
