.intro__button {
  border: 1px solid $maincolor;
  background: transparent;
  width: 100%;
  max-width: 360px;
  height: 64px;
  font-size: 15px;
  line-height: 60px;
  /* identical to box height, or 400% */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 60px;
  color: $maincolor;

  @include btnHover();

  @media screen and (min-width: $maxMob) {
    margin-top: 100px;
  }
  @media screen and (min-width: $maxTablet) {
    margin-top: 60px;
  }
}
