.press__radio{
  visibility: hidden;
  position: absolute;
  + label{
    background-color: $bgcolor;
    border: 1px solid $maincolor;
    border-radius: 22px;
    width: 22px;
    height: 22px;
    //}
  }
  &:checked + label{
    background-color: $maincolor;
  }
}


//https://snipp.ru/html-css/style-radio
//https://freefrontend.com/css-radio-buttons/
//
