@import '../blocks/root/root.scss';
@import '../blocks/page/page.scss';
@import '../blocks/header/header.scss';
@import '../blocks/header/__logo/header__logo.scss';
@import '../blocks/header/__burger/header__burger.scss';
@import '../blocks/link/link.scss';
@import '../blocks/menu/menu.scss';
@import '../blocks/menu/_hidden/menu_hidden.scss';
@import '../blocks/menu/_list/menu_list.scss';
@import '../blocks/menu/__item/menu__item.scss';
@import '../blocks/intro/intro.scss';
@import '../blocks/intro/__text/intro__text.scss';
@import '../blocks/intro/__heading/intro__heading.scss';
@import '../blocks/intro/__img/intro__img.scss';
@import '../blocks/intro/__button/intro__button.scss';
@import '../blocks/description/description.scss';
@import '../blocks/description/__text/description__text.scss';
@import '../blocks/plus-minus/plus-minus.scss';
@import '../blocks/plus-minus/__plus/plus-minus__plus.scss';
@import '../blocks/plus-minus/__heading/plus-minus__heading.scss';
@import '../blocks/plus-minus/__list/plus-minus__list.scss';
@import '../blocks/gallery/gallery.scss';
@import '../blocks/gallery/__image/gallery__image.scss';
@import '../blocks/gallery/__heading/gallery__heading.scss';
@import '../blocks/gallery/__button/gallery__button.scss';
@import '../blocks/stub/stub.scss';
@import '../blocks/press-title/press-title.scss';
@import '../blocks/press/press.scss';
@import '../blocks/press/__article/press__article.scss';
@import '../blocks/press/__button/press__button.scss';
@import '../blocks/press/__nav/press__nav.scss';
@import '../blocks/press/__radio/press__radio.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/footer/__heading/footer__heading.scss';
@import '../blocks/footer/__subheading/footer__subheading.scss';
@import '../blocks/subscr-form/subscr-form.scss';
@import '../blocks/subscr-form/__input/subscr-form__input.scss';
@import '../blocks/subscr-form/__input/_type/subscr-form__input_type_name.scss';
@import '../blocks/subscr-form/__input/_type/subscr-form__input_type_surname.scss';
@import '../blocks/subscr-form/__input/_type/subscr-form__input_type_email.scss';
@import '../blocks/subscr-form/__submit/subscr-form__submit.scss';
@import '../blocks/footer/__logo/footer__logo.scss';
@import '../blocks/footer/__copyright/footer__copyright.scss';



