$burgerMid: calc(50% - 1px);

.header__burger {
  width: 20px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 25px;
  //margin: 30px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: $maxMob) {
    width: 26px;
    height: 22px;
    right: 34px;
  }

  @media screen and (min-width: $maxTablet) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $maincolor;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      //top: 8px;
      top: $burgerMid;
    }

    &:nth-child(4) {
      //top: 16px;
      top: calc(100% - 2px);
    }
  }

  &.open span {
    &:nth-child(1) {
      top: $burgerMid;
      //top: 8px;
      width: 0;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: $burgerMid;
      //top: 8px;
      width: 0;
      left: 50%;
    }
  }
}

