.footer__heading {
  grid-area: head;
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;

  @media screen and (min-width: $maxMob) {
    margin-bottom: 16px;
    font-size: 46px;
    line-height: 46px;
  }

  @media screen and (min-width: $maxTablet) {
    //@include rightLine();
  }
}
