.press__button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 88px;
  height: 42px;
  font-size: 14px;
  line-height: 28px;
  box-sizing: border-box;
  border: 1px solid $maincolor;
  background: transparent;
  border-radius: 88px/42px;
  text-decoration: none;
  color: $maincolor;
  //text-align: center;
  //vertical-align: middle; not works
  display: flex;
  justify-content: center;
  align-items: center;

  @include btnHover();

  @media screen and (min-width: $maxMob) {
    font-size: 19px;
    width: 110px;
    height: 52px;
    right: 50px;
    bottom: 50px;
  }
}
