.press__article {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  display: none;
  &:first-of-type{
    display: block;
  }
  @media screen and (min-width: $maxMob) {
    font-size: 30px;
    line-height: 42px;
  }

}
